body {
  font-family: "Raleway", sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

header {
  background-color: #1f2937;
  color: white;
}

section {
  padding: 0 25px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}

.links {
  display: flex;
  align-items: center;
}

.links p {
  margin: 0 5px;
}

.hero {
  display: flex;
  padding: 2em;
  justify-content: space-between;
}

.hero-left h1 {
  padding: 0;
  margin: 0;
}

.hero-maintext {
  font-size: 48px;
  font-weight: 700;
}

.random-info {
  display: flex;
  margin-bottom: 4em;
  justify-content: center;
  gap: 15px;
}

.random-info div {
  text-align: center;
}

.random-title {
  text-align: center;
}
.box {
  max-width: 140px;
}
.box p {
  margin: 0;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 2em;
  font-size: 36px;
  font-style: italic;
}

.caption {
  font-style: normal;
  font-size: 24px;
  text-align: right;
  font-weight: 700;
}

.random-info div {
  width: 140px;
}

#box-1 {
  height: 140px;
  width: 140px;
  background-color: #3590f3;
  border-radius: 10px;
}

#box-2 {
  height: 140px;
  width: 140px;
  background-color: #62bfed;
  border-radius: 10px;
}
#box-3 {
  height: 140px;
  width: 140px;
  background-color: #8fb8ed;
  border-radius: 10px;
}
#box-4 {
  height: 140px;
  width: 140px;
  background-color: #c2bbf0;
  border-radius: 10px;
}

.call-to-action {
  background-color: #3882f6;
  display: flex;
  margin: 3em;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  color: #ffffff;
}

.call-to-action div {
  margin: 25px;
}

footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 2em 0;
}

.footer-text {
  margin-bottom: 0;
}
